# this is a pip requirements file specifically for the ReadTheDocs environment
-r ../requirements.txt                 # include the core requirements

# additional sphinx-specific requirements
sphinxcontrib-httpdomain>=1.5.0
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
